.undesc {
  overflow: hidden !important;
  text-overflow: unset !important;
  white-space: unset !important;
  display: unset !important;
  -webkit-line-clamp: unset !important;
  -webkit-box-orient: unset !important; }

.header-dark {
  background-color: #132133 !important; }

.header-up {
  top: -8.2rem; }

.active-link {
  color: #fff !important;
  position: relative;
  display: flex;
  align-items: center; }
  .active-link::after {
    content: "";
    font-size: 1rem;
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, 0);
    height: 3px;
    width: 50%;
    background-color: #fff;
    border-radius: 1px; }

.show {
  opacity: 1 !important;
  visibility: visible !important; }

.trans-0 {
  transform: translate(0, 0) !important; }

.btn-top-swipe {
  top: -2.5rem !important; }

.bg-primary {
  background: #ffc107; }

.px-500 {
  padding-left: 5rem;
  padding-right: 5rem; }

.px-100 {
  padding-left: 10rem;
  padding-right: 10rem; }
  @media only screen and (max-width: 48em) {
    .px-100 {
      padding-left: 5rem;
      padding-right: 5rem; } }

.py-50 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.py-100 {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 48em) {
    .py-100 {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
  color: #0c101a;
  font-family: "Inter", sans-serif; }

html {
  font-size: 10px; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@font-face {
  font-family: "primary-font";
  src: url("../font/GT America Extended Black.ttf") format("ttf"); }

.header {
  padding: 4rem 5rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 48em) {
    .header {
      padding: 1.6rem 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      padding: 1.6rem 2rem; } }
  .header-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1); }
    .header-popup-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      padding: 2.4rem 0;
      border-bottom: solid 1px grey; }
      .header-popup-head-btn {
        font-size: 2rem;
        color: #132133;
        display: flex;
        align-items: center;
        cursor: pointer; }
        .header-popup-head-btn:hover ion-icon {
          transform: rotate(90deg); }
        .header-popup-head-btn ion-icon {
          transition: all 0.3s;
          font-size: 3rem; }
      .header-popup-head-link {
        display: flex;
        align-items: center;
        gap: 2rem; }
        .header-popup-head-link a {
          color: #132133;
          font-size: 1.6rem; }
    .header-popup-container {
      transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1);
      width: -webkit-fill-available;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      height: -webkit-fill-available;
      overflow: auto; }
      .header-popup-container-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 0 0 3rem 3rem;
        box-shadow: 4px 4px 2rem rgba(128, 128, 128, 0.3);
        background-color: white;
        padding: 0 5rem 5rem 5rem;
        overflow: hidden; }
      .header-popup-container-title {
        font-size: 2rem;
        font-weight: 400;
        color: #132133;
        flex-grow: 2;
        width: 100%;
        margin-bottom: 3rem; }
      .header-popup-container-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-right: 10rem; }
        .header-popup-container-box-title {
          font-weight: 800;
          color: #132133;
          font-size: 1.6rem;
          text-transform: uppercase; }
        .header-popup-container-box-link {
          font-size: 1.4rem;
          font-weight: 400;
          color: #132133; }
      .header-popup-container-action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem; }
        @media screen and (max-width: 1160px) {
          .header-popup-container-action {
            margin-top: 3rem;
            flex-direction: row; } }
        .header-popup-container-action-box {
          padding: 5rem 2rem 2rem 2rem;
          border-radius: 2rem;
          display: flex;
          height: fit-content;
          gap: 2rem;
          align-items: center; }
          .header-popup-container-action-box-title {
            font-size: 1.6rem;
            color-scheme: #132133;
            font-weight: 500; }
          .header-popup-container-action-box-btn {
            cursor: pointer;
            height: 3.2rem;
            width: 3.2rem;
            border-radius: 100%;
            box-shadow: 4px 4px 2rem rgba(128, 128, 128, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            transition: all 0.2s; }
            .header-popup-container-action-box-btn:hover {
              transform: scale(1.1); }
            .header-popup-container-action-box-btn ion-icon {
              font-size: 2rem;
              font-weight: 400; }
  .header-container {
    max-width: 144rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .header__name {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 10rem;
    cursor: pointer; }
    .header__name:hover ion-icon {
      transform: scale(1.2); }
    .header__name-btn {
      transition: all 0.3s;
      font-size: 3rem;
      color: #132133; }
    .header__name-title {
      height: fit-content;
      color: #132133;
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "primary-font", sans-serif; }
  .header__logo {
    height: 5rem; }
  .header__list {
    display: flex;
    align-items: center;
    gap: 3.2rem; }
    .header__list--item {
      color: white;
      font-size: 1.4rem;
      font-weight: 400; }
      .header__list--item.btn-join {
        color: #ffc107;
        transition: all 0.3s; }
        .header__list--item.btn-join:hover {
          transform: scale(1.1); }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem; }
  .card__title {
    font-size: 3rem;
    font-weight: 700;
    color: #0c101a;
    position: relative; }
  .card__desc {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .card__desc p {
      color: #132133;
      font-size: 2rem;
      font-weight: 400; }
      .card__desc p span {
        font-weight: 600; }
    .card__desc--show {
      cursor: pointer;
      padding-left: 4rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6) 0 25%, #fff 25% 100%);
      font-size: 1.4rem;
      font-weight: 600;
      color: #132133; }
  .card .card-down {
    padding: 0;
    left: 0;
    position: relative;
    align-self: flex-start; }
  .card__btn {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffc107;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center; }
    .card__btn ion-icon {
      font-size: 2rem;
      color: #ffc107; }
    .card__btn:hover {
      background-color: #ffc107;
      color: white; }
      .card__btn:hover > * {
        color: white; }

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .title__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 144rem;
    width: 100%; }
    .title__wrapper--text {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .title__wrapper--text-1 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #ffc107; }
      .title__wrapper--text-2 {
        font-size: 4rem;
        font-weight: 700; }
      .title__wrapper--text-3 {
        font-size: 1.4rem;
        font-weight: 400; }

.btn {
  display: flex;
  height: fit-content;
  padding: 1rem 3.5rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer; }

.bg-second {
  background: #132133;
  color: white; }

.footer {
  padding: 5rem;
  background: #132133;
  align-self: stretch;
  display: flex;
  justify-content: center; }
  .footer p {
    color: #fff; }
  .footer hr {
    width: 100%;
    margin: 5rem 0;
    border: 0;
    border-top: solid 1px #fff; }
  @media only screen and (max-width: 48em) {
    .footer {
      padding: 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .footer {
      padding: 5rem 2rem; } }
  .footer-container {
    max-width: 144rem;
    width: 100%; }
  .footer__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem; }
    .footer__wrapper--left {
      align-self: stretch;
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 68.75em) {
        .footer__wrapper--left {
          flex-direction: column;
          gap: 5rem; } }
      .footer__wrapper--left__logo {
        display: flex;
        align-items: center;
        gap: 5px; }
        .footer__wrapper--left__logo img {
          height: 5rem; }
        .footer__wrapper--left__logo p {
          font-size: 1.6rem;
          font-weight: 700;
          text-transform: uppercase; }
      .footer__wrapper--left__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.2rem 10rem; }
        @media only screen and (max-width: 68.75em) {
          .footer__wrapper--left__box {
            justify-content: space-between;
            gap: 1.2rem 0; } }
        @media only screen and (max-width: 25em) {
          .footer__wrapper--left__box {
            grid-template-columns: repeat(2, 1fr); } }
        .footer__wrapper--left__box--item {
          text-align: start;
          color: #fff;
          font-weight: 400;
          font-size: 1.4rem; }
      .footer__wrapper--left__desc {
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
        margin-top: 1rem; }
    .footer__wrapper--right {
      display: flex;
      justify-content: space-between;
      align-self: stretch; }
      @media only screen and (max-width: 68.75em) {
        .footer__wrapper--right {
          gap: 4rem; } }
      @media only screen and (max-width: 40.625em) {
        .footer__wrapper--right {
          flex-direction: column;
          align-items: flex-start; } }
      .footer__wrapper--right__medsos {
        display: flex;
        align-items: center;
        gap: 1rem; }
        .footer__wrapper--right__medsos--box {
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 100%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center; }
          .footer__wrapper--right__medsos--box ion-icon {
            font-size: 2rem;
            color: #132133; }
      .footer__wrapper--right__cr {
        text-align: end;
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300; }
  .footer__bottom--left {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 7rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__bottom--left {
        gap: 3rem;
        flex-direction: column; } }
    .footer__bottom--left__alamat {
      display: flex;
      gap: 1rem; }
      .footer__bottom--left__alamat p {
        text-align: center; }
        .footer__bottom--left__alamat p:nth-child(1) {
          font-size: 2rem; }
        .footer__bottom--left__alamat p:nth-child(2) {
          font-size: 1.4rem;
          font-weight: 400; }
          @media only screen and (max-width: 25em) {
            .footer__bottom--left__alamat p:nth-child(2) {
              text-align: start; } }
        .footer__bottom--left__alamat p ion-icon {
          color: #ffc107; }
    .footer__bottom--left__phone, .footer__bottom--left__email {
      display: flex;
      gap: 1rem; }
      .footer__bottom--left__phone p, .footer__bottom--left__email p {
        text-align: center; }
        .footer__bottom--left__phone p:nth-child(1), .footer__bottom--left__email p:nth-child(1) {
          font-size: 2rem; }
        .footer__bottom--left__phone p:nth-child(2), .footer__bottom--left__email p:nth-child(2) {
          font-size: 1.4rem;
          font-weight: 400; }
      .footer__bottom--left__phone ion-icon, .footer__bottom--left__email ion-icon {
        color: #ffc107; }

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home__hero {
    position: relative;
    padding: 10rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../img/home-bg.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 150%;
    margin: 2rem 2rem 0 2rem;
    border-radius: 3rem;
    overflow: hidden;
    height: calc(100vh - 4rem); }
    @media only screen and (max-width: 48em) {
      .home__hero {
        padding: 8.52rem 5rem 0 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .home__hero {
        padding: 8.52rem 2rem 0 2rem; } }
    .home__hero .blur {
      backdrop-filter: blur(50px);
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .home__hero-info {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem; }
      .home__hero-info-title p {
        text-align: center;
        color: white; }
        .home__hero-info-title p:nth-child(1) {
          font-size: 15rem;
          line-height: 0.9;
          font-weight: 900;
          font-family: "primary-font", sans-serif;
          text-transform: uppercase; }
        .home__hero-info-title p:nth-child(2) {
          margin: 2rem;
          font-size: 2.4rem; }
  .home__mitra {
    padding: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 48em) {
      .home__mitra {
        padding: 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .home__mitra {
        padding: 5rem 2rem; } }
    .home__mitra--wrapper {
      display: flex;
      align-items: center;
      gap: 3rem;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 144rem;
      width: 100%; }
  .home__sambutan {
    width: 100%;
    background: #eff3f3;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home__sambutan-wrapper {
      max-width: 144rem;
      padding: 10rem 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5rem; }
      @media only screen and (max-width: 48em) {
        .home__sambutan-wrapper {
          padding: 5rem; } }
      @media only screen and (max-width: 31.25em) {
        .home__sambutan-wrapper {
          padding: 5rem 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .home__sambutan-wrapper {
          flex-direction: column-reverse; } }
    .home__sambutan--left {
      width: 50%; }
      @media only screen and (max-width: 56.25em) {
        .home__sambutan--left {
          width: 100%; } }
      .home__sambutan--left img {
        width: 100%; }
    .home__sambutan--right {
      width: 50%;
      min-width: 50%; }
      @media only screen and (max-width: 56.25em) {
        .home__sambutan--right {
          width: 100%;
          min-width: 100%; } }
  .home__profile {
    max-width: 144rem;
    padding: 5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eff3f3; }
    @media only screen and (max-width: 68.75em) {
      .home__profile {
        flex-direction: column; } }
    @media only screen and (max-width: 48em) {
      .home__profile {
        padding: 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .home__profile {
        padding: 5rem 2rem; } }
    .home__profile--left {
      width: 50%;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: solid 1px #d2e0ea;
      padding-right: 5rem; }
      @media only screen and (max-width: 68.75em) {
        .home__profile--left {
          width: 100%;
          padding: 0 0 5rem 0;
          border-right: none;
          border-bottom: solid 1px #d2e0ea; } }
    .home__profile--right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      padding-left: 5rem; }
      @media only screen and (max-width: 68.75em) {
        .home__profile--right {
          padding: 5rem 0 0 0; } }
      @media only screen and (max-width: 48em) {
        .home__profile--right {
          grid-template-columns: repeat(1, 1fr); } }
      .home__profile--right__box {
        padding: 4rem 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        gap: 1.6rem; }
        .home__profile--right__box--icon {
          min-height: 6.4rem;
          height: 6.4rem;
          min-width: 6.4rem;
          width: 6.4rem;
          background-color: #fff;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%; }
        .home__profile--right__box--right {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.6rem; }
          .home__profile--right__box--right__text {
            display: flex;
            flex-direction: column;
            gap: 8px; }
            .home__profile--right__box--right__text p:first-child {
              font-size: 2rem;
              font-weight: 700;
              color: #0c101a; }
            .home__profile--right__box--right__text p:last-child {
              font-size: 1.2rem;
              font-weight: 400;
              color: #919fae; }
          .home__profile--right__box--right__btn {
            cursor: pointer;
            padding: 1rem 3.2rem;
            border: solid 1px #ffc107;
            border-radius: 3rem;
            color: #ffc107;
            font-size: 1.4rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all 0.3s; }
            .home__profile--right__box--right__btn ion-icon {
              color: #ffc107;
              font-size: 2rem;
              transition: all 0.3s; }
            .home__profile--right__box--right__btn:hover {
              background-color: #ffc107;
              color: #fff; }
              .home__profile--right__box--right__btn:hover ion-icon {
                color: #fff; }
  .home__action {
    width: 100%;
    padding: 5rem 5rem;
    background: #eff3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    .home__action-title {
      font-weight: 600;
      font-size: 1.6rem; }
    .home__action-wrapper {
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
    .home__action-item {
      position: relative;
      padding: 5rem; }
      .home__action-item:hover .home__action-item-img {
        opacity: 1;
        visibility: visible; }
      .home__action-item-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 1; }
        .home__action-item-title p {
          font-size: 3.2rem;
          font-weight: 900;
          font-family: "primary-font", sans-serif;
          text-transform: uppercase; }
        .home__action-item-title-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 4rem;
          width: 4rem;
          border-radius: 100%;
          box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.3);
          background-color: white;
          cursor: pointer;
          transition: 0.2s; }
          .home__action-item-title-btn:hover {
            transform: scale(1.1); }
          .home__action-item-title-btn ion-icon {
            font-size: 2.4rem; }
      .home__action-item-img {
        transition: all 0.3s linear;
        z-index: 0;
        visibility: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }
  .home__berita-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem; }
    .home__berita-container .berita-box {
      width: 54.3rem;
      height: 52.4rem;
      position: relative;
      box-shadow: 0 4px 2rem rgba(128, 128, 128, 0.3);
      border-radius: 3rem;
      overflow: hidden; }
      .home__berita-container .berita-box-img {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        width: 100%;
        height: 60%;
        transition: all 0.3s;
        cursor: pointer; }
        .home__berita-container .berita-box-img:hover {
          transform: scale(1.1); }
      .home__berita-container .berita-box-info {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        border-radius: 3rem 3rem 0 0;
        padding: 3rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: white;
        width: -webkit-fill-available; }
        .home__berita-container .berita-box-info-title-cat {
          margin-bottom: 2rem;
          font-size: 2rem;
          color: rgba(19, 33, 51, 0.7);
          text-transform: capitalize; }
        .home__berita-container .berita-box-info-title-txt {
          text-transform: capitalize;
          font-size: 3.2rem;
          font-weight: 500;
          color: #132133; }
        .home__berita-container .berita-box-info-date {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .home__berita-container .berita-box-info-date-1 {
            display: flex;
            align-items: center;
            gap: 0.5rem; }
            .home__berita-container .berita-box-info-date-1 ion-icon {
              font-size: 2rem; }
            .home__berita-container .berita-box-info-date-1 p {
              font-size: 1.6rem; }
          .home__berita-container .berita-box-info-date-2 {
            font-size: 1.4rem; }

.fasilitas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 0 10rem;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear; }
  @media only screen and (max-width: 48em) {
    .fasilitas {
      padding: 0 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .fasilitas {
      padding: 0; } }
  .fasilitas__wrapper {
    max-width: 144rem;
    padding: 3rem;
    background-color: #f9fbfd;
    height: 100%;
    width: 100%;
    transform: translate(0, 100%);
    transition: all 0.3s ease-out;
    transition-delay: 0.2s; }
    @media only screen and (max-width: 56.25em) {
      .fasilitas__wrapper {
        padding: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .fasilitas__wrapper {
        padding: 0; } }
    .fasilitas__wrapper--content {
      border-radius: 1rem;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 1px #d2e0ea; }
      @media only screen and (max-width: 31.25em) {
        .fasilitas__wrapper--content {
          border: none; } }
      .fasilitas__wrapper--content__title {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: solid 1px #d2e0ea;
        font-size: 3rem; }
        .fasilitas__wrapper--content__title p:first-child {
          font-size: inherit;
          font-weight: 600; }
        .fasilitas__wrapper--content__title p:last-child ion-icon {
          cursor: pointer;
          font-size: inherit; }
      .fasilitas__wrapper--content laravel
.swipe-body {
        padding-right: 2rem;
        margin: 2rem;
        overflow-y: auto;
        z-index: 1; }
        .fasilitas__wrapper--content laravel
.swipe-body::-webkit-scrollbar {
          width: 1rem; }
          .fasilitas__wrapper--content laravel
.swipe-body::-webkit-scrollbar-track {
            background-color: rgba(255, 193, 7, 0.1);
            border-radius: 1rem; }
          .fasilitas__wrapper--content laravel
.swipe-body::-webkit-scrollbar-thumb {
            background-color: #ffc107;
            border-radius: 1rem; }
        @media only screen and (max-width: 31.25em) {
          .fasilitas__wrapper--content laravel
.swipe-body {
            margin: 0; } }
      .fasilitas__wrapper--content__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
        flex: 1; }
        @media only screen and (max-width: 75em) {
          .fasilitas__wrapper--content__container {
            grid-template-columns: repeat(2, 1fr); } }
        @media only screen and (max-width: 56.25em) {
          .fasilitas__wrapper--content__container {
            grid-template-columns: repeat(1, 1fr); } }
        .fasilitas__wrapper--content__container--box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%; }
          .fasilitas__wrapper--content__container--box:nth-child(1) .fasilitas-box__info--img {
            background-image: url(../assets/img/fasilitas1.jpeg); }
          .fasilitas__wrapper--content__container--box:nth-child(2) .fasilitas-box__info--img {
            background-image: url(../assets/img/fasilitas2.jpeg); }
          .fasilitas__wrapper--content__container--box:nth-child(3) .fasilitas-box__info--img {
            background-image: url(../assets/img/fasilitas3.jpeg); }
          .fasilitas__wrapper--content__container--box:nth-child(4) .fasilitas-box__info--img {
            background-image: url(../assets/img/fasilitas4.jpeg); }
          .fasilitas__wrapper--content__container--box:nth-child(5) .fasilitas-box__info--img {
            background-image: url(../assets/img/fasilitas5.jpeg); }
          .fasilitas__wrapper--content__container--box:nth-child(6) .fasilitas-box__info--img {
            background-image: url(../assets/img/fasilitas2.jpeg); }
          .fasilitas__wrapper--content__container--box .fasilitas-box {
            padding: 2rem;
            border-radius: 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.05);
            transition: all 0.3s;
            width: 100%; }
            .fasilitas__wrapper--content__container--box .fasilitas-box:hover {
              background-color: #ffc107; }
              .fasilitas__wrapper--content__container--box .fasilitas-box:hover .fasilitas-box__info--title {
                color: #fff; }
            .fasilitas__wrapper--content__container--box .fasilitas-box__info {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 1.4rem; }
              .fasilitas__wrapper--content__container--box .fasilitas-box__info--title {
                font-size: 2rem;
                font-weight: 600; }
              .fasilitas__wrapper--content__container--box .fasilitas-box__info--img {
                width: 100%;
                height: 35rem;
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-size: cover; }
                @media only screen and (max-width: 37.5em) {
                  .fasilitas__wrapper--content__container--box .fasilitas-box__info--img {
                    height: 25rem; } }
              .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe {
                border-radius: 1rem;
                display: flex;
                align-items: flex-end;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transform: translate(0, 100%);
                transition: all 0.2s linear; }
                .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  width: 100%;
                  padding: 3rem;
                  border-radius: 1rem;
                  transition: all 0.3s ease-out;
                  transition-delay: 0.2s; }
                  .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__btn {
                    cursor: pointer;
                    position: absolute;
                    top: -9rem;
                    padding: 1rem 2.4rem;
                    border-radius: 0.5rem;
                    background-color: #ffc107;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    gap: 1rem; }
                    .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__btn ion-icon {
                      color: #fff;
                      font-size: 2rem; }
                    .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__btn p {
                      font-size: 1.6rem;
                      font-weight: 600;
                      color: #fff; }
                  .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__container {
                    display: flex;
                    flex-direction: column; }
                    .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__container--info {
                      font-size: 1.4rem;
                      color: #ffc107;
                      margin-bottom: 1.6rem;
                      display: flex;
                      gap: 1rem;
                      align-items: center; }
                      .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__container--info ion-icon {
                        font-size: 2rem;
                        color: #ffc107; }
                    .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__container--title {
                      font-size: 1.6rem;
                      font-weight: 600;
                      margin-bottom: 1rem; }
                    .fasilitas__wrapper--content__container--box .fasilitas-box__info--swipe__wrapper__container--desc {
                      font-size: 1.4rem; }

#location .location {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 0 10rem;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear; }
  @media only screen and (max-width: 48em) {
    #location .location {
      padding: 0 5rem; } }
  @media only screen and (max-width: 31.25em) {
    #location .location {
      padding: 0; } }
  #location .location__wrapper {
    max-width: 144rem;
    padding: 3rem;
    background-color: #f9fbfd;
    height: 100%;
    width: 100%;
    transform: translate(0, 100%);
    transition: all 0.3s ease-out;
    transition-delay: 0.2s; }
    @media only screen and (max-width: 56.25em) {
      #location .location__wrapper {
        padding: 2rem; } }
    #location .location__wrapper--content {
      border-radius: 1rem;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 1px #d2e0ea; }
      #location .location__wrapper--content__title {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: solid 1px #d2e0ea;
        font-size: 3rem; }
        #location .location__wrapper--content__title p:first-child {
          font-size: inherit;
          font-weight: 600; }
        #location .location__wrapper--content__title p:last-child ion-icon {
          cursor: pointer;
          font-size: inherit; }
      #location .location__wrapper--content__map {
        position: relative;
        height: 100%;
        width: 100%; }
        #location .location__wrapper--content__map #map {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%; }

.prestasi {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 0 10rem;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear; }
  @media only screen and (max-width: 48em) {
    .prestasi {
      padding: 0 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .prestasi {
      padding: 0; } }
  .prestasi__wrapper {
    max-width: 144rem;
    padding: 3rem;
    background-color: #f9fbfd;
    height: 100%;
    width: 100%;
    transform: translate(0, 100%);
    transition: all 0.3s ease-out;
    transition-delay: 0.2s; }
    .prestasi__wrapper--content {
      border-radius: 1rem;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 1px #d2e0ea; }
      .prestasi__wrapper--content__title {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: solid 1px #d2e0ea;
        font-size: 3rem; }
        .prestasi__wrapper--content__title p:first-child {
          font-size: inherit;
          font-weight: 600; }
        .prestasi__wrapper--content__title p:last-child ion-icon {
          cursor: pointer;
          font-size: inherit; }

.about {
  width: 100%; }
  .about__hero {
    position: relative;
    padding: 10rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../img/home-bg.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 150%;
    margin: 2rem 2rem 0 2rem;
    border-radius: 3rem;
    overflow: hidden; }
    @media only screen and (max-width: 48em) {
      .about__hero {
        padding: 8.52rem 5rem 0 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .about__hero {
        padding: 8.52rem 2rem 0 2rem; } }
    .about__hero .blur {
      backdrop-filter: blur(50px);
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .about__hero-info {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem; }
      .about__hero-info-title p {
        text-align: center;
        color: white; }
        .about__hero-info-title p:nth-child(1) {
          font-size: 15rem;
          line-height: 0.9;
          font-weight: 900;
          font-family: "primary-font", sans-serif;
          text-transform: uppercase; }
        .about__hero-info-title p:nth-child(2) {
          margin: 2rem;
          font-size: 2.4rem; }
      .about__hero-info-img {
        width: 80vw;
        max-width: 1550px;
        height: 50.4rem;
        border-radius: 3rem;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important; }
  .about__info {
    width: 100%; }
    .about__info-container {
      width: 100%;
      max-width: 144rem;
      padding: 10rem;
      display: flex;
      justify-content: space-between;
      gap: 10rem; }
      .about__info-container-right {
        width: -webkit-fill-available; }
        .about__info-container-right-title {
          margin-bottom: 5rem;
          color: #132133;
          font-size: 2.6rem;
          font-weight: 500; }
        .about__info-container-right-txt {
          margin-bottom: 8rem;
          color: #132133;
          font-size: 2.4rem; }
        .about__info-container-right-btn {
          background-color: #132133;
          color: white;
          font-size: 2rem;
          font-weight: 400;
          width: fit-content; }
      .about__info-container-left {
        width: -webkit-fill-available; }
        .about__info-container-left-txt {
          margin-bottom: 8rem;
          color: #132133;
          font-size: 2.4rem; }

.alumni {
  width: -webkit-fill-available;
  background: #eff3f3; }
  .alumni-hero {
    width: -webkit-fill-available;
    background: url("../img/heroAlumni.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10rem;
    margin: 2rem 2rem 0 2rem;
    border-radius: 3rem; }
    .alumni-hero > * {
      color: white; }
    .alumni-hero-bc {
      display: flex;
      gap: 1rem;
      margin-bottom: 5rem; }
      .alumni-hero-bc a,
      .alumni-hero-bc ion-icon > * {
        color: white; }
      .alumni-hero-bc a:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
        font-weight: 500; }
        .alumni-hero-bc a:nth-child(1) ion-icon {
          font-size: 2rem; }
      .alumni-hero-bc a:nth-child(2) {
        display: flex;
        font-size: 1.6rem; }
      .alumni-hero-bc a:nth-child(3) {
        font-size: 1.6rem;
        font-weight: 500; }
    .alumni-hero-title {
      font-size: 15rem;
      line-height: 0.9;
      font-weight: 900;
      font-family: "primary-font", sans-serif;
      text-transform: uppercase; }
  .alumni-info {
    margin: 0 2rem 2rem 2rem;
    padding: 3rem;
    border-radius: 3rem;
    position: relative;
    box-shadow: 4px 4px 2rem rgba(128, 128, 128, 0.3);
    z-index: 10;
    background-color: white;
    margin-bottom: 10rem; }
    .alumni-info-title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -90%);
      font-size: 2rem;
      z-index: 0;
      font-weight: 600;
      text-transform: uppercase; }
      .alumni-info-title p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .alumni-info-title svg {
        height: 5rem; }
    .alumni-info-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10rem;
      height: 100%; }
      .alumni-info-container-left {
        width: 50%; }
        .alumni-info-container-left-img {
          height: 40vw;
          width: 40vw;
          background-repeat: no-repeat !important;
          background-position: center !important;
          background-size: cover !important;
          border-radius: 3rem; }
          @media (min-width: 1440px) {
            .alumni-info-container-left-img {
              height: 57.6rem;
              width: 57.6rem; } }
      .alumni-info-container-right {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .alumni-info-container-right-txt1 {
          margin-bottom: 10rem; }
          .alumni-info-container-right-txt1 p:nth-child(1) {
            font-size: 3.2rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 2rem; }
            .alumni-info-container-right-txt1 p:nth-child(1) ion-icon {
              font-size: 3rem;
              color: gold; }
          .alumni-info-container-right-txt1 p:nth-child(2) {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            color: rgba(19, 33, 51, 0.5); }
          .alumni-info-container-right-txt1 p:nth-child(3) {
            font-weight: 500;
            line-height: 1.5;
            font-size: 2.4rem; }
        .alumni-info-container-right-txt2 {
          margin-bottom: 3rem; }
          .alumni-info-container-right-txt2 p {
            line-height: 1.5;
            font-size: 2.4rem; }
        .alumni-info-container-right-btn {
          font-size: 2rem;
          background-color: #132133;
          color: white;
          width: fit-content;
          font-weight: 400 !important; }
