.about {
    width: 100%;
    &__hero {
        position: relative;
        padding: 10rem 10rem;
        align-self: stretch;
        // height: 52.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: url("../img/home-bg.jpg");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 150%;
        @include respond(1000) {
            display: none;
        }
        @include respond(bp-768) {
            padding: 8.52rem 5rem 0 5rem;
        }
        @include respond(bp-500) {
            padding: 8.52rem 2rem 0 2rem;
        }
        & .blur {
            backdrop-filter: blur(50px);
            background-color: rgba(#000000, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-info {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            &-title {
                p {
                    text-align: center;
                    color: white;
                    &:nth-child(1) {
                        font-size: 15rem;
                        line-height: 0.9;
                        font-weight: 900;
                        font-family: "primary-font", sans-serif;
                        text-transform: uppercase;
                    }
                    &:nth-child(2) {
                        margin: 2rem;
                        font-size: 2.4rem;
                    }
                }
            }
            &-img {
                width: 80vw;
                max-width: 1550px;
                height: 50.4rem;
                border-radius: 3rem;
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
            }
        }
    }

    &__info {
        width: 100%;
        &-container {
            width: 100%;
            max-width: 1440rem;
            padding: 10rem;
            display: flex;
            
            justify-content: space-between;
            gap: 10rem;
            &-right {
                width: -webkit-fill-available;
                &-title {
                    margin-bottom: 5rem;
                    color: $color-secondary;
                    font-size: 2.6rem;
                    font-weight: 500;
                }
                &-txt {
                    margin-bottom: 8rem;
                    color: $color-secondary;
                    font-size: 2.4rem;
                }
                &-btn {
                    background-color: $color-secondary;
                    color: white;
                    font-size: 2rem;
                    font-weight: 400;
                    width: fit-content;
                }
            }
            &-left {
                width: -webkit-fill-available;
                &-txt {
                    margin-bottom: 8rem;
                    color: $color-secondary;
                    font-size: 2.4rem;
                }
                &-img {
                }
            }
        }
    }
}
