.ppdb {
    width: -webkit-fill-available;
    background: $color-section;
    &-hero {
        width: -webkit-fill-available;
        padding: 10rem;
        margin: 2rem 2rem 0 2rem;
        border-radius: 3rem;

        & > * {
            color: white;
        }
        &-bc {
            display: flex;
            gap: 1rem;
            margin-bottom: 5rem;
            a,
            ion-icon > * {
                color: white;
            }
            a:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.6rem;
                font-weight: 500;

                & ion-icon {
                color: white;
                    font-size: 2rem;
                }
            }
            a:nth-child(2) {
                color: white;
                display: flex;
                font-size: 1.6rem;
            }
            a:nth-child(3) {
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
        &-title {
            font-size: 10vw;
            line-height: 0.9;
            font-weight: 900;
            font-family: "primary-font", sans-serif;
            text-transform: uppercase;
        }
    }
}
